{% extends "base.html" %}
{% block content %}

    <div class="header">CUSTOMERS</div> 

        {% for customer in all_customers %}

            <h5 class="vet-name-header"> {{ customer.name }}
            <p> {{ customer.contact_details }}</p> </h5>

            <section class="customer-items">
                {% for animal in all_animals %}
                    {% if animal.customer.id == customer.id %}
                    
                        <div class="vet-items">
                            <div class="vet-item-padding">
                                <p>Name: {{ animal.name }} <br>
                                DoB: {{ animal.dob }}<br>
                                Type: {{ animal.animal_type }} <br>

                                <p class="notes">Notes: {{ animal.notes }}</p>
                                    <br>
                                
                                <form action="/animals/{{ animal.id }}/edit" method="GET">
                                    <input type="submit" value="Change Details">
                                </form> <br><br>
                            </div>
                        </div>

                    {% endif %}   
                {% endfor %}   
            </section>

        {% endfor %} 

{% endblock %}