{% extends "base.html" %}
{% block content %}

    <header class="header">CUSTOMERS</header> 

        {% for customers in all_customers %}
        <h5 class="vet-name-header"> {{ customer.name }}</h2>
        <h6> {{ customer.contact_details }}</h6>
                <section class="customer-items">

                <!-- {% for animal in all_animals %} -->

                    {% if animal.customer.id == customer.id %}
                    
                        <div class="vet-items">

                            <div class="vet-item-padding">

                                <p>Name: {{ customer.animal.name }} <br>
                                DoB: {{ customer.animal.dob }}<br>
                                Type: {{ customer.animal.animal_type }} <br>

                                <p class="notes">Notes: {{ customer.animal.notes }}</p>
                                    <br>
                                
                                <form action="/animals/{{ animal.id }}/edit" method="GET">
                                    <input type="submit" value="Change Details">
                                </form> <br><br>

                                <form action="/vets/{{ animal.id }}/delete" method="POST">
                                    <input type="submit" value="Delete">
                                </form> 

                            </div>
                        </div>

                    {% endif %}   

                {% endfor %}   
                
                </section>

        {% endfor %} 

{% endblock %}