{% extends "base.html" %}
{% block content %}

    <header class="header">VETS</header> 

        {% for vetenarian in all_vetenarians %}
        
            <h2 class="vet-name-header"> {{ vetenarian.name }}</h2>

                <section class="customer-items">

                {% for animal in all_animals %}

                    {% if animal.vetenarian.id == vetenarian.id %}
                    
                        <div class="vet-items">

                            <div class="vet-item-padding">

                                <p>Name: {{ animal.name }} <br>
                                DoB: {{ animal.dob }}<br>
                                Type: {{ animal.animal_type }} <br>
                                Owner Contact Info {{ animal.contact_details }}</p>

                                <p class="notes">Notes: {{ animal.notes }}</p>
                                    <br>
                                <p> Owned by: {{ animal.customer.name }}</p>
                                
                                <form action="/animals/{{ animal.id }}/edit" method="GET">
                                    <input type="submit" value="Change Details">
                                </form> <br><br>

                                <form action="/vets/{{ animal.id }}/delete" method="POST">
                                    <input type="submit" value="Delete">
                                </form> 

                            </div>
                        </div>

                    {% endif %}   

                {% endfor %}   
                
                </section>

        {% endfor %} 

{% endblock %}