{% extends "base.html" %}
{% block content %}

<h1 class="edit-header">EDIT ENTRY</h1>

  <section class="edit-page">

      <form action="/animals/{{ animal.id }}" method="post" class="edit-animal-form" id="usrform">

        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="{{ animal.name }}" required autofocus>
        </div>
      
        <div>
          <label for="dob">D/O/B:</label>
          <input type="date" id="dob" name="dob" value="{{ animal.dob }}" required>
        </div>
      
        <div>
          <label for="animal_type">Type:</label>
          <input type="text" id="animal_type" name="animal_type" value="{{ animal.animal_type }}"  required>
        </div>

        <div>
            <label for="contact_details">Contact Info:</label>
            <input type="text" id="contact_details" name="contact_details" value="{{ animal.contact_details }}"  required>
        </div>

        <div>
            <label for="notes">Notes:</label>
            <textarea rows="15" cols="10" name="notes" form="usrform" value="{{ animal.notes }}">
              Enter text here...</textarea>
            <input type="text" style="height:100px" id="notes" name="notes" value="{{ animal.notes }}"  required>
        </div>
      
        <div>
          <label for="vetenarian">Assigned Vet:</label>
            <select id="vetenarian" name="vetenarian_id">
              {% for vetenarian in all_vetenarians %}
                <option value="{{ vetenarian.id }}"
                {% if animal.vetenarian.id== vetenarian.id %} selected="selected" {% endif %}>
                  {{ vetenarian.name }}
                </option>
              {% endfor %}
            </select>
        </div>
      
        <button type="submit">Update entry</button>
      
      </form>

  </section>

{% endblock %}