{% extends "base.html" %}
{% block content %}

<h1 class="register-header">REGISTER ANIMAL</h1> 

  <div class="form-body">

    <form action="/animals/new" method="post" class="form-submission">
      
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name here" required autofocus>
    
        <label for="dob">D/O/B</label>
        <input type="date" id="dob" name="dob" required>
    
        <label for="animal_type">Type</label>
        <input type="text" id="animal_type" name="animal_type" placeholder="write literally" required>

        <label for="notes">Introductory Notes</label>
        <input type="text" id="notes" name="notes">

        <label for="customer">Owner</label>
          <select id="customer" name="customer_id">
            {% for customer in all_customers %} <!-- LOOP to generate HTML option elements for customer assignment -->
            <option value="{{ customer.id }}"
              >
              {{ customer.name }}
              </option>
            {% endfor %} 
          </select>      
        <!-- REGISTERING ANIMAL WILL SHOW CUSTOMER DROPDOWN, IF NOT CHOSEN NOTIFY IT CANT BE DONE WITHOUT REGSITERING ONE SEPERATELY FIRST--HOW DO I DO THIS? -->
    
      <input type="submit"></button>
    
    </form>

  </div>

{% endblock %}