{% extends "base.html" %}
{% block content %}

<h1 class="register-header">REGISTER ANIMAL</h1> 
  <div class="form-body">
    <form action="/animals/new" method="post" class="form-submission">
      
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name here" required autofocus>
      </div>
    
      <div>
        <label for="dob">Date of birth</label>
        <input type="date" id="dob" name="dob" required>
      </div>
    
      <div>
        <label for="animal_type">Type</label>
        <input type="text" id="animal_type" name="animal_type" placeholder="write literally" required>
      </div>

      <div>
          <label for="contact_details">Owner Contact Number</label>
          <input type="text" id="contact_details" name="contact_details" placeholder="write literally" required>
      </div>

      <div>
          <label for="notes">Introductory Notes</label>
          <input type="text" id="notes" name="notes" placeholder="Is there any information required from owner at first contact">
      </div>
    
      <div>
        <label for="vetenarian">Assigned Practice</label>
          <select id="vetenarian" name="vetenarian_id">
            {% for vetenarian in all_vetenarians %} <!-- LOOP to generate HTML option elements for vet assignment -->
              <option value="{{ vetenarian.id }}">{{ vetenarian.name }}</option> 
            {% endfor %} 
          </select>        
      </div>
    
      <button type="submit">Submit</button>
    
    </form>
  </div>

{% endblock %}