  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
      font-family: "Helvetica", arial, sans-serif; font-size: 16px;
      height: 100%;
    }

    /* BASE */

    /* HEADER */

    header > .menu-header {
      font: oblique bold 1200;
    }

    /* NAV */

    nav div {
      display: block;
      width: 100px;
      background-color: orange;
      list-style-type: none;
      margin: 0;
      padding: 5px;
    }

    .header {
      font: 50px bold;
      text-align: center;
      font-family: 'Fugaz One', cursive;
    }
    
    /* HOME */

          .home-header {
            font-family: 'Fugaz One', cursive;
            padding: 50px;
            text-align: center;
            height: 5%; 
            width: max-content; 
            background-color: #454545; 
            color: black; 
            position: relative; 
            top: 50px; 
            left: 150px; 
            animation-name: example; 
            animation-duration: 10s; 
            animation-iteration-count: infinite; 
          }

          @keyframes example { 
            0% {background-color:#454545; left:140px; top:50x;} 
            15% {background-color:#454545; left:110px; top:50px;} 30% {background-color:#454545; left:80px; top:50px;} 
            45% {background-color:#454545; left:50px; top:50px;} 
            60% {background-color:#454545; left:50px; top:25px;} 
            75% {background-color:#454545; left:80px; top:25px;} 
            90% {background-color:#454545; left:110px; top:25px;} 100% {background-color:#454545; left:140px; top:25px;}
          }

          .home-body {
            font-family: "Helvetica", arial, sans-serif; font-size: 16px;
            height: 100%;
          }

    /* PRACTICE */

          .vet-name-header {
            font: 30px bold;
            text-align: center;
            font-family: 'Fugaz One', cursive;
            padding-bottom: 30px;
          }

          .customer-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            background-color: blue;
            margin: auto;
            padding: 10px;
            border-width: 1px 4px 12px 4px;
          }

          .vet-items {
            width: 33%;
            background-color: orange;
            padding: 10px;
            margin: 10px;
          }

          .vet-item-padding {
            background-color: greenyellow;
          }

          .vet-item-padding p {
            padding: 5px;
            margin: 10px;
          }

          .vet-item-padding form input {
            margin: 5px;
          }


    /* ANIMALS */
          
          /* BODY  */

          .pet-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            background-color: #FFC0CB;
            width: 900px;
            margin: 20px auto;
            padding: 10px;
          }

          .pet-container .animal-items {
            background-color: #AFEEEE;
            border: 5px solid black;
            margin-top: 20px;
            padding: 10px;
            text-align: left;
            border-radius: 5px;
            width: 33%;
          } 

          .animal-items > div {
            padding: 10px;
            resize: both;
          }

          p.notes {
            overflow: auto;
            line-height: normal;
            background-color: #E0FFFF;
            -webkit-text-stroke-width: thick;
            padding: 10px;
          }

          .firstbutton {
            float: left;
          }

          .button {
            clear: both;
          }

  /* REGISTER ANIMAL */

          /* HEADER */

          .register-header {
            font-family: 'Fugaz One', cursive;
            text-align: center;
            padding-top: 20px;
          }

          /* FORM BODY */

          .form-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            background-color: #AFEEEE;
            position: relative;
            margin: 0 auto;
          }
          
          .form-submission {
            margin: 60px auto;
            background-color: #efefef;
            padding: 60px 120px 80px 120px;
            box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
            position: absolute;
          }

  /* EDIT FORM */

          .edit-header {
            font-family: 'Fugaz One', cursive;
            text-align: center;
            padding-top: 20px;
          }
          
          .edit-page {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            background-color: #AFEEEE;
            position: relative;
            margin: 0 auto;
          }

          .edit-animal-form {
            margin: 60px auto;
            background-color: #efefef;
            padding: 60px 120px 80px 120px;
            box-shadow: 4px 5px 3px rgba(0,0,0,0.1);
          }

          .edit-animal-form > div {
            padding: 2px;
          }

          .noteslabel {
            float: left;
          }